.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  position: relative;
  background-color: #3e4758;
  min-height: 15vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.app-header h1 {
  grid-column: 2;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.languageBotton {
  padding: 0.5rem;
}

@media (max-width: 860px) {
  .App {
    font-size: 14px;
  }
}

@media (max-width: 475px) {
  .App {
    font-size: 13px;
  }

  .app-header {
    display: block;
    min-height: 18vh;
  }

  .app-header h1 {
    grid-column: initial;
  }

  .languageBotton {
    position: absolute;
    right: 0.2rem;
    padding: 0.5rem;
    top: 3.1rem;
  }

  .start {
    font-size: 14px;
  }
}
